footer{
	width: 100%;
	height: 45px;
}
footer ul{
	list-style: none;
	margin: 0;
}
footer ul li{
	float: left;
	width: 25%;
	text-align: center;
}
footer ul li a{
	color: #fff;
}

#editor{
    font-size: 16px;
}
.ace_scrollbar{
    background-color: rgba(0,0,0,0.5);
}
.ace_scrollbar-v{
    width: 30px !important;
}
.ace_scrollbar-h{
    height: 30px !important;
}