#header ul{
    list-style: none;
}
#header li{
    float: left;
    text-align: center;
    margin: 0;
    padding: 20px;
}
#editor{
    font-size: 16px;
}
#bottom-buttons a{
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
}

#bottom-buttons ul{
    list-style: none;
}
#bottom-buttons li{
    float: left;
    width: 25%;
    text-align: center;
    margin: 0;
}
#bottom-buttons a{
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
}
.clear{
    clear: both;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}