body{
    background-color: #bdc3c7;
}
.ui-page-theme-a{
background-color: #bdc3c7;
}
#header{
    background-color: #34495e;
    border-bottom: 3px solid #2c3e50;
    border-top: none;
    color: #ecf0f1;
}
#header a{
    text-decoration: none;
    color: inherit;
}
#header a:hover{
    color: #fff;
}
#header ul{
    list-style: none;
    padding-left: 0;
}
#header li{
    float: left;
    text-align: center;
    margin: 0;
    padding: 5px 10px 5px 10px;
}
#editor{
    font-size: 14px;
}
.ace_scrollbar{
    background-color: rgba(0,0,0,0.5);
}
.ace_scrollbar-v{
    width: 30px !important;
}
.ace_scrollbar-h{
    height: 30px !important;
}
#bottom-buttons{
    background-color: #34495e;
    border-top: 3px solid #2c3e50;
    border-bottom: none;
    color: #ecf0f1;
}
#bottom-buttons a{
    display: block;
    text-decoration: none;
    padding: 10px 0 10px 0;
    text-decoration: none;
    color: inherit;
}
#bottom-buttons a:hover{
    color: #fff;
}

#bottom-buttons ul{
    list-style: none;
}
#bottom-buttons li{
    float: left;
    width: 25%;
    text-align: center;
    margin: 0;
}
#bottom-buttons a{
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
}
.clear{
    clear: both;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.button{
    background-color: #34495e !important;
    border: none !important;
    border-bottom: 3px solid #2c3e50 !important;
    color: #ecf0f1 !important;
    text-shadow:none !important;
}
.button:hover{
    background-color: #2c3e50 !important;
    border-bottom: 3px solid #34495e !important;
}